

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #032153;

$white: #fff;
$gray-100: #f2f2f2;
$gray-200: #e5e5e5;
$gray-300: #dfdfdf;
$gray-400: #c2c2c2;
$gray-500: #a6a6a6;
$gray-600: #898989;
$gray-700: #6c6c6c;
$gray-800: #515151;
$gray-900: #333333;
$black: #000;

$primary: $primary;
$secondary: $pink;
$warning: $orange;
$light: $white;
$dark: $gray-900;
$body-bg: $white;

$success: darkgreen;
$info: darkblue;


$fontSizes: (
    1: .5rem,
    2: .85rem,
    3: 1rem,
    4: 1.25rem,
    5: 1.65rem,
    6: 1.9rem,
    7: 2.25rem,
    8: 2.50rem,
    9: 2.75rem,
    10: 3.75rem,
    11: 4.75rem
);
