
// Fonts
/* vietnamese */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofIOuaBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v10/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'mixin';
@import 'pdf';

table.results  {
    th {
        vertical-align: bottom;
    }
    th.rotate {
        height: 220px;
        white-space: nowrap;
    }

    th.rotate > div {
        transform: translate(0, 0) rotate(270deg);
        width: 30px;
    }
    th.rotate > div > span {
        padding: 5px 10px;
    }
}

table.logbook {
    .border-black-right {
        border-right: 1px solid black;
    }
    th.vertical {
        position: relative;
        height: 280px;
        width: 50px;
    }

    th.vertical > div > span {
        transform-origin: 0 50%;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 250px;
    }
}

.chart-container {
    width: 1000px;
    height:600px
}
